* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #fff;
    color: #545863;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
    rgba(34, 44, 56, 0.5),
    rgba(34, 44, 56, 0.5),
    rgba(0, 0, 0, 0));
    border: 0;
    height: 2px;
}

h1, h2, h3, h4, h5 {
    color: #000;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

section {
    display: block;
    max-width: 75rem;
    padding: 5rem 1.5rem;
}

footer {
    background-color: #222C38;
    position: fixed;
    top: 100vh;
    height: 50px;
    margin-top: -50px;
    width: 100%;
}

div.hr {
    margin: 0;
    max-width: 75rem;
    padding: 0;
}

.nav-resume {
    background-color: #7B0202 !important;
    color: #fff;
    font-weight: bold;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index:1;
}

.nav-link {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.top-link {
    font-size: 1.35rem;
    text-decoration: underline;
}

.resume {
    margin-left: auto;
    margin-right: auto;
}

.personal-info__subheading {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.resume-section__title {
    background-color: #222C38;
    border-radius: 1rem;
    color: #fff;
    margin-bottom: 4rem;
    padding: 0 20px;
    text-align: center;
}

.resume-section__column-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.resume-section__row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* -- Resume section experience -- */

.resume-section-experience {
    margin-bottom: 4rem;
}

.resume-section-column {
    flex-grow: 1;
    margin-bottom: 0.75rem;
}

.resume-section-header__dates {
    color: #7B0202;
    flex-shrink: 0;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 1.15rem;
    text-transform: uppercase;
}

.resume-section-header__title {
    margin-top: 0;
}

.resume-section-header__subtitle {
    color: #464952;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.resume-section-body {
    font-family: 'Lato', "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.15rem;
}

.resume-section-card {
    border: 1px solid #0000;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 6px 2px;
    margin-bottom: 2rem;
    padding: 10px 20px;
    width: 100%;
}

.resume-section-card:hover {
    background-color: #222c3810;
    border: 1px solid #0002;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 6px 4px;
}

.resume-section-skills {
    border: 1px solid #0000;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 6px 2px;
    margin-bottom: 2rem;
    padding: 10px 20px;
    width: 100%;
}

.resume-section-skills:hover {
    background-color: #222c3810;
    border: 1px solid #0002;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 6px 4px;
}

.tools-title {
    background-color: #222C38;
    border-radius: 1rem;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 4rem;
    padding: 0 20px;
    text-align: center;
}

.item {
    margin: 0 auto;
    max-width: 400px;
    padding: 1.5em;
}

.item-element {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 2px;
    border-radius: 5px;
    overflow: hidden;
}

.item-description {
    height: 50px;
}

.item-description-title {
    font-size: 1.8rem;
    margin: 10px auto;
}


.item-image img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
    
}

.item-image__overlay:hover {
    background-color:#0005;
}

.carousel-section {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px 10px;
}

.carousel-item h5 {
    background-color: #000a;
    color: white;
    padding: 5px;
    margin: 0 10px 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carousel-item p {
    background-color: #000a;
    color: white;
    padding: 5px;
    margin: 0 10px;
}

.carousel-control-prev {
    background-color: #000a;
}

.carousel-control-next {
    background-color: #000a;
}

@media only screen and (min-width: 766px) {

    .resume-section-experience {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .resume-section-column {
        margin-bottom: 0;
    }

    .resume-section__row-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .resume-section-card {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
    }

}


@media only screen and (min-width: 992px) {
    body {
        padding-left: 17rem;
        padding-top: 0;
    }
    
    .nav-resume {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        left: 0;
        position: fixed;
        top: 0;
        width: 17rem;
    }

    .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
        width: 100%;
    }

    .navbar-collapse .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .resume-section-card {
        flex: 0 1 calc(50% - 1rem);
    }

}